nav{
    background-color:white;
    
    
}
li{
    color:black;
    display:inline;
}
hr{
    margin-left: 25px; 
    margin-right:1050px;
    text-align:start;
}
input{
    margin-left: 25px;
    border: none;
    outline: none;
}
.logo{
    margin-right:100px;
    color:red;
    padding-left: 250px;
    font-size:40px;
    font-family:  sans-serif;
    font-weight:600;
}
.l3{
    color:rgb(255, 100, 0);
}
i{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 20px;
    color:black;
}
li,a{
    color:gray;
    
    padding:0px;
    font-size:12px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:10;
    margin-right: 10px;

}
.b{
    margin-left: 120px;
}
.n2{
    
    background-color:rgb(83, 81, 81);
    padding:13px;
    
}
.c{
    color:white;
    font-weight: 100;
     margin-left: 15px;
     font-size: 13px;
}
h2{
    text-align: center;
    color:#9d6a37;
    font-family:Poppins,sans-serif;
}
*{
    box-sizing: border-box;
}
.card{
    margin-left: 10px;
    margin-right:0px;
    display: inline-block;
}
p{
    color:rgb(83, 81, 81);
    font-family:Poppins,sans-serif;
    font-weight: 600;
}
.p2{
    text-align: center;
    color:rgb(255, 100, 0);
    font-weight: 100;
}
.h2{
    text-align: center;
    color:#9d6a37;
    font-family:Poppins,sans-serif;
    font-size: 20px;
}
.images{
    display:inline-block;
    margin-left: 20px;
}
h3{
    text-align: center;
    color:#9d6a37;
    font-family:Poppins,sans-serif;
    font-size: 20px;
}
#p2{
    font-size: 13px;
    color:gray;
    font-weight: 100;
    line-height: 1px;
}
.foot{
    display:block;
    line-height: 20px;
    font-size: 14px;
    
}
.f1{
    color:black;
    text-align: left;

}
.footer{
    background-color:whitesmoke;
    
}
.card :hover{
    box-shadow: 1px 1px 1px 1px;
    transform: scale(1.1);
}